
/*animation*/
.task-enter {
	transition: all 450ms ease-in-out;
	opacity: 0.01;
	transform: translateX(-200%);
}
.task-enter .task-enter-active {
  opacity: 1;
	transform: translateX(0);
}
.task-leave {
  opacity: 1;
}
.task-leave.task-leave-active {
	transition: all 450ms ease-in-out;
	opacity: 0.01;
}



/* routing animation*/
.routing-enter {
	opacity: 0;
}
.routing-enter.routing-enter-active {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.routing-leave {
  display: none;
}
.routing-leave.routing-leave-active {
  display: none;
}
