

/* routing transition*/
.routing-enter {
	opacity: 0;
}
.routing-enter.routing-enter-active {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
.routing-leave {
  display: none;
}
.routing-leave.routing-leave-active {
  display: none;
}
