.task-row-wrapper {
  overflow: auto;
  height: 500px;
  margin-bottom: 0;
}
.task-row {
  height: 100px;
  width: 98%;
  display: block;
  border-radius: 2px;
  margin: 15px auto;
  box-shadow: 0 3px 20px rgba(0,0,0,0.16), 0 3px 20px rgba(0,0,0,0.23);
  transition: all 0.4s cubic-bezier(.25,.8,.25,1);
  font-size: 18px;
  font-family: cursive;
  line-height: 45px;
}
.task-row:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.task-row:hover .title-row{
  color: #00BCD4;
}
.task-row:hover .info-row{
  color: #555;
}
.done span{
  transition: all 0.5s;
  color: #aaa !important;
}
.pending span{
  transition: all 0.5s;
}
.done {
  box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
}
.task-info {
  padding-left: 20px;
  float: left;
  min-width: 45%;
}
li.done div.progress-bar{
  background-color: #aaa;
}
.progress-bar {
  background-color: #00BCD4;
  transition: all 1s;
}
.progress {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 350px;
  margin-bottom: 0px;
  margin-top: 15px;
}
.control {
  position: relative;
  float: right;
  top:50%;
  transform: translateY(-45%);
}
.show-status {
  float: right;
  font-size: 16px;
  transition: all 0.5s;
  margin-left: 15px
}
.show-status span{
  color: #66D7E6 !important;
  transition: all 0.5s;
}

.show-status span.material-icons{
  transition: all 0.5s;
}
.material-icons {
  margin: 0 5px;
  top: 5px;
  color: #9D72C8 !important;
}
.title-row {
  font-weight: 600;
  height: 30px
}
.info-row {
  height: 25px;
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
}
