.task-row-wrapper {
  overflow: auto;
  height: 500px;
}
.task-row {
  height: 80px;
  width: 98%;
  display: block;
  border-radius: 2px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 18px;
  font-family: cursive;
  line-height: 45px;
}
.task-row:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.done span{
  transition: all 0.5s;
  color: #aaa !important;
}
.pending span{
  transition: all 0.5s;
}
.done {
  box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
}
.task-info {
  padding-left: 20px;
  float: left;
  min-width: 45%;
}
.progress-bar {
  background-color: #00BCD4;
  transition: all 1s;
}
.progress {
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 350px;
}
.control {
  position: relative;
  float: right;
  top:20%;
}
.show-status {
  float: right;
  font-size: 16px;
  transition: all 0.5s;
  margin-left: 15px
}
.show-status span{
  color: #66D7E6 !important;
  transition: all 0.5s;
}

.show-status span.material-icons{
  transition: all 0.5s;
}
.material-icons {
  margin: 0 5px;
  top: 5px;
  color: #9D72C8 !important;
}
.title-row {
  font-weight: 600;
}
.category-row {
  color: #777;
}

.date-row {
  color: grey;
  font-size: 14px;
  font-family: sans-serif;
}
.footer {
  height: 64px;
  padding: 10px 20px;
  box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.16), 0px -3px 6px 0px rgba(0,0,0,0.23);
}
